:root {
    /* Vars for github-style habit history grid */
    --square-size: 0.6875rem;
    --square-gap: 0.2rem;
    --week-width: calc(var(--square-size) + var(--square-gap));

    /* Vars for checkboxes */
    --checkbox-size: 2rem;
    --checkbox-gap: 0.4rem;
}

body {
    margin-top: 5rem;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    overflow-x: hidden;
}

.full-width-background {
    margin: 0 -9999rem;
    /* add back negative margin value */
    padding-right: 9999rem;
    padding-left: 9999rem;
    background: rgb(245, 245, 245);
}


.value-prop-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

.value-prop-text {
    margin: 1.5rem;
}

.value-prop-img {
    width: 60%;
    opacity: 0.9;
}

.get-started-btn {
    text-align: center;
    margin-top: 6rem;
}

.section-header {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: rgb(42, 42, 42);
}

.container {
    max-width: 900px;
    margin-bottom: 2rem;
    /* overflow: hidden; */
}

.container-border {
    border-style: solid;
    border: 0.1rem #e1e4e8 solid;
    border-radius: 0.2rem;
}

.content-section {
    background: #ffffff;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.habit-title {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    display: inline-block;
    font-size: 2.5rem;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    color: rgb(0, 0, 0);
}

.table {
    margin: 0;
}

.table td {
    padding: var(--checkbox-gap);
    height: var(--checkbox-size);
    vertical-align: middle;
}

.table .date-label, .habit-link {
    color: rgb(61, 61, 61);
    font-weight: normal;
}

.table .date-label {
    text-align: center;
    font-size: 1rem;
}

.table .habit-link {
    text-decoration: none;
}

.table .habit-link:hover {
    color: rgb(0, 0, 0);
}

.table .habit-label {
    /* set to relative so that stretched-link works */
    position: relative;
    padding-left: 1rem;
    width: 15rem;
}

.table .habit-label:hover {
    background-color: rgb(240, 240, 240);
    /* border-style: none none solid none;
    border-color: rgb(98, 98, 98); */
}

.table th {
    padding: 0.4rem;
    vertical-align: middle;
}

/* Customize the label (the checkmark-container) */
.checkmark-container {
    display: block;
    margin: auto;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
    position: absolute;
    visibility: hidden;
}

/* Create a custom checkbox */
.checkmark {
    display: block;
    margin: auto;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    border-radius: 0.25rem;
    background-color: rgb(226, 226, 226);
}

/* When the checkbox is checked, add a blue background */
.checkmark-container input:checked ~ .checkmark {
    background-color: #2b8cbe;
}

/* On mouse-over, add a light gray background color, checked or unchecked */
.checkmark-container:hover input ~ .checkmark {
    background-color: rgb(180, 180, 180);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
    position: relative;
    left: 0.75rem;
    top: 0.375rem;
    width: 0.5rem;
    height: 1rem;
    border: solid white;
    border-width: 0 0.19rem 0.19rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Habit History Grid */
/* Structure from https://bitsofco.de/github-contribution-graph-css-grid/ */

li {
    list-style-type: none;
}

ul {
    padding-inline-start: 0.625rem;
    margin-block-end: 0;
}

.months, .days {
    font-size: 0.75rem;
    color: #5f5f5f;
}
.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares; }
.months, .days, .squares { padding: 0; }

/* Two containers to maintain slight margin on left when there is overflow */
.graph-outer-container {
    margin: 0;
    padding-left: 1rem;
}

.graph-inner-container {
    margin: 0;
    overflow: hidden;
    padding: 2.5rem 3.3rem 2rem 1rem;
}

.graph {
    display: inline-grid;
    grid-template-areas: "empty months" 
                         "days squares";
    grid-template-columns: auto 1fr;
    grid-gap: 0.625rem;
    float: right;
    margin: 0;
}

.months {
    display: grid;
    grid-template-columns: repeat(53, var(--week-width));
}

.days, .squares {
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-rows: repeat(7, var(--square-size));
}

.squares {
    grid-auto-flow: column;
    grid-auto-columns: var(--square-size);
}

.days li:nth-child(odd) {
    visibility: hidden;
}

/* Colors in the habit history grid by level */
.squares li { background-color: #f1eef6; }
.squares li[data-level="1"] { background-color: #bdc9e1; }
.squares li[data-level="2"] { background-color: #74a9cf; }
.squares li[data-level="3"] { background-color: #2b8cbe; }
.squares li[data-level="4"] { background-color: #045a8d; }

/* .squares li { background-color: #ffffcc; }
.squares li[data-level="1"] { background-color: #a1dab4; }
.squares li[data-level="2"] { background-color: #41b6c4; }
.squares li[data-level="3"] { background-color: #2c7fb8; }
.squares li[data-level="4"] { background-color: #253494; } */


.squares li:hover .grid-tooltip{
    visibility: visible;
}

.grid-tooltip {
    --tooltip-width: 7rem;
    font-size: 0.6875rem;
    visibility: hidden;
    display: block;
    border-radius: 0.25rem;
    width: var(--tooltip-width);
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    position: relative;
    bottom: calc(var(--square-size) * 5.5);
    right: calc((var(--tooltip-width) - var(--square-size)) / 2);
}

.grid-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.3125rem;
    border-width: 0.3125rem;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.streak-container {
    justify-content: center;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
}

.streak-date {
    width: 6rem;
    display: inline-block;
    font-size: 0.8rem;
    text-align: center;
    vertical-align: middle;
}

.streak-length {
    background: #2b8cbe;
    color: white;
    display: inline-block;
    border-radius: 0.3rem;
    text-align: center;
    vertical-align: middle;
}


