:root {
    /* Vars for github-style habit history grid */
    --square-size: 0.6875rem;
    --square-gap: 0.2rem;
    --week-width: calc(var(--square-size) + var(--square-gap));

    /* Vars for checkboxes */
    --checkbox-size: 2rem;
    --checkbox-gap: 0.4rem;
}

body {
    margin-top: 5rem;
}

/* Allows horizontal scrolling of the table */
.table-responsive {
    margin: 1rem 0;
}

.table td {
    padding: var(--checkbox-gap);
    height: var(--checkbox-size);
    vertical-align: middle;
}

.date-label {
    text-align: center;
}

.table .habit-link {
    color: black;
    font-weight: normal;
    text-decoration: none;
}

.table .habit-link:hover {
    font-weight: bold;
}

.table .habit-label {
    /* set to relative so that stretched-link works */
    position: relative;
    padding-left: 1rem;
}

.table th {
    padding: 0.4rem;
    vertical-align: middle;
}

/* Customize the label (the checkmark-container) */
.checkmark-container {
    display: block;
    margin: auto;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkmark-container input {
    position: absolute;
    visibility: hidden;
}

/* Create a custom checkbox */
.checkmark {
    display: block;
    margin: auto;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    border-radius: 0.25rem;
    background-color: #eee;
}

/* When the checkbox is checked, add a dark gray background */
.checkmark-container input:checked ~ .checkmark {
    background-color: rgb(102, 102, 102);
}

/* On mouse-over, add a light gray background color, checked or unchecked */
.checkmark-container:hover input ~ .checkmark {
    background-color: rgb(180, 180, 180);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    display: none;
}

/* Show the checkmark when checked */
.checkmark-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark-container .checkmark:after {
    position: relative;
    left: 0.75rem;
    top: 0.375rem;
    width: 0.5rem;
    height: 1rem;
    border: solid white;
    border-width: 0 0.19rem 0.19rem 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Habit History Grid */
/* Structure from https://bitsofco.de/github-contribution-graph-css-grid/ */

li {
    list-style-type: none;
}

ul {
    padding-inline-start: 0.625rem;
    margin-block-end: 0;
}

.months, .days {
    font-size: 0.75rem;
    color: #5f5f5f;
}
.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares; }

.graph {
    display: inline-grid;
    grid-template-areas: "empty months" 
                         "days squares";
    grid-template-columns: auto 1fr;
    grid-gap: 0.625rem;
}

.months {
    display: grid;
    grid-template-columns: repeat(54, var(--week-width));
}

.days, .squares {
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-rows: repeat(7, var(--square-size));
}

.squares {
    grid-auto-flow: column;
    grid-auto-columns: var(--square-size);
}

.graph {
    padding: 1.25rem 1.5rem 1.25rem 1.25rem;
    border: 0.0625rem #e1e4e8 solid;
    margin: 1.25rem 0;
}

.days li:nth-child(odd) {
    visibility: hidden;
}

.squares li { background-color: #e4e4e4; }
.squares li[data-level="0"] { background-color: rgb(228,228,228); }
.squares li[data-level="1"] { background-color: rgb(194,194,194); }
.squares li[data-level="2"] { background-color: rgb(160,160,160); }
.squares li[data-level="3"] { background-color: rgb(126,126,126); }
.squares li[data-level="4"] { background-color: rgb(92,92,92); }
.squares li[data-level="5"] { background-color: rgb(58,58,58); }

.squares li:hover .date-tooltip{
    visibility: visible;
}

.date-tooltip {
    --tooltip-width: 5.625rem;
    font-size: 0.6875rem;
    visibility: hidden;
    display: block;
    border-radius: 0.25rem;
    width: var(--tooltip-width);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    z-index: 1;
    position: relative;
    bottom: calc(var(--square-size) * 4);
    right: calc((var(--tooltip-width) - var(--square-size)) / 2);
}

.date-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.3125rem;
    border-width: 0.3125rem;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
