{% extends "layout.html" %}

{% block content %}
  <div class="content-section">

    <h4 class="border-bottom mb-4 pb-1">Update Account Info</h4>

    <!-- Update email form -->
    <form method="POST" action="" id="update-email">
      {{ email_form.hidden_tag() }}
      <div class="form-group">
        {{ email_form.email.label }}
        {% if email_form.email.errors %}
          {{ email_form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in email_form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
        {% else %}
          {{ email_form.email(class="form-control") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ email_form.submit_email(class="btn btn-outline-info") }}
      </div>
    </form>

    <h4 class="border-bottom mb-4 "></h4>

    <!-- Update password form -->
    <form method="POST" action="" id="update-password">
      {{ password_form.hidden_tag() }}
      <div class="form-group">
        {{ password_form.current_password.label }}
        {% if password_form.current_password.errors %}
          {{ password_form.current_password(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in password_form.current_password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ password_form.current_password(class="form-control", ) }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ password_form.new_password.label }}
        {% if password_form.new_password.errors %}
          {{ password_form.new_password(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in password_form.new_password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ password_form.new_password(class="form-control", ) }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ password_form.confirm_new_password.label }}
        {% if password_form.confirm_new_password.errors %}
          {{ password_form.confirm_new_password(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in password_form.confirm_new_password.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ password_form.confirm_new_password(class="form-control", ) }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ password_form.submit_password(class="btn btn-outline-info") }}
      </div>
    </form>

    <h4 class="border-bottom mb-4 "></h4>

    <!-- Delete account button to activate modal -->
    <button type="button" 
            class="btn btn-outline-secondary"
            data-toggle="modal" 
            data-target="#deleteAccountModal">
      Delete Account
    </button>
  </div>


  <!-- Delete account modal -->
  <div class="modal" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure? This cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <form action="{{ url_for('users.delete_account') }}", method="POST">
            <input class="btn btn-outline-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Bring a form into view if it had validation errors -->
  <script>
    document.getElementById("{{ anchor }}").scrollIntoView();
  </script>

{% endblock content %}


