{% extends "layout.html" %}

{% block content %}
  <div class="content-section">
    <form method="POST" action="" id="update-email">
      {{ email_form.hidden_tag() }}
      <h4 class="border-bottom mb-4 ">Update Account Info</h4>
      <div class="form-group">
        {{ email_form.email.label }}
        {% if email_form.email.errors %}
          {{ email_form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in email_form.email.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
        {% else %}
          {{ email_form.email(class="form-control") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ email_form.submit_email(class="btn btn-outline-info") }}
      </div>
    </form>

    <h4 class="border-bottom mb-4 "></h4>

    <form method="POST" action="" id="update-password">
      {{ password_form.hidden_tag() }}
      <fieldset class="form-group">
        <div class="form-group">
          {{ password_form.current_password.label }}
          {% if password_form.current_password.errors %}
            {{ password_form.current_password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in password_form.current_password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ password_form.current_password(class="form-control", ) }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ password_form.new_password.label }}
          {% if password_form.new_password.errors %}
            {{ password_form.new_password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in password_form.new_password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ password_form.new_password(class="form-control", ) }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ password_form.confirm_new_password.label }}
          {% if password_form.confirm_new_password.errors %}
            {{ password_form.confirm_new_password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in password_form.confirm_new_password.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ password_form.confirm_new_password(class="form-control", ) }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ password_form.submit_password(class="btn btn-outline-info") }}
        </div>
      </fieldset>
      
    </form>
  </div>



  <!-- Bring a form into view if it had validation errors -->
  <script>
    document.getElementById("{{ anchor }}").scrollIntoView();
  </script>

{% endblock content %}


