{% from "macros.html" import render_history_grid %}
{% extends "layout.html" %}
{% block content %}

  <!-- Habit name and options -->
  <div class="content-section text-center">  
    <div class="habit-title">{{ habit.name }}</div> 
    <div>
      <button type="button" 
              class="btn btn-outline-secondary btn-sm"
              data-toggle="modal" 
              data-target="#nameChangeModal"
              aria-label="Change Habit Name">
        <svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
        </svg>
      </button>

      <button type="button" 
              class="btn btn-outline-secondary btn-sm"
              data-toggle="modal" 
              data-target="#deleteModal"
              aria-label="Delete Habit">
        <svg aria-hidden="true" class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
        </svg>
      </button>
      
    </div>

    
  </div>

  <!-- Habit 1-yr history grid -->
  <div class="content-section">
    {{ render_history_grid(history_grid) }}
  </div>

  <!-- Best Streaks -->
  {% if longest_streaks|length > 0 %}
    <div class="content-section">
      <div class="section-header">Best Streaks</div>
      <div class="streak-container container-border py-4">
      {% for streak in longest_streaks %}
        <!-- Vars used to calculate width of streak span -->
        {% set full_width = 45 %}
        {% set min_width = 5 %}
        {% set pct_of_full = streak.streak_length / longest_streaks[0].streak_length %}
        <div class="mb-1">
          <span class="streak-date">{{ streak.start.strftime("%b %-d, %Y") }}</span>
          <span class="streak-length"
                style="width:{{ [full_width * pct_of_full, min_width]|max }}%;">{{ streak.streak_length }}</span> 
          <span class="streak-date">{{ streak.end.strftime("%b %-d, %Y") }}</span>
        </div>
      {% endfor %}
      </div>
    </div>
  {% endif %}

  <!-- Habit Strength -->
  <div class="content-section">
    <div class="section-header">Habit Strength</div>
    <div class="container-border py-4">
      <img class="habit-strength-graph"
            src="{{ url_for('habits.plot_habit_strength', slug=habit.slug) }}"
            alt="habit strength plot svg"
            width="80%">
    </div>
  </div>

  <!-- Delete habit modal -->
  <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Habit?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure? This cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form action="{{ url_for('habits.delete_habit', slug=habit.slug) }}", method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Update habit name modal -->
  <div class="modal" id="nameChangeModal" tabindex="-1" role="dialog" aria-labelledby="nameChangeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="nameChangeModal">Rename Your Habit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="">
          {{ rename_habit_form.hidden_tag() }}
          <div class="modal-body">
            {% if rename_habit_form.new_name.errors %}
              {{ rename_habit_form.new_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in rename_habit_form.new_name.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
            {% else %}
              {{ rename_habit_form.new_name(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="modal-footer">
            {{ rename_habit_form.submit(class="btn btn-outline-secondary") }}
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Launch nameChangeModal automatically if there was a form submission error -->
  <script>
    var errors = {% if rename_habit_form.new_name.errors %} true {% else %} false {% endif %};
    if (errors) {
    $(document).ready(function(){
        $("#nameChangeModal").modal('show');
    });
  }
  </script>

{% endblock content %}