{% extends "layout.html" %}
{% block content %}

  <div class="value-prop-container">
    <div class="value-prop-text">
      <h1><strong>Build strong habits.</strong></h1>
      <p>Organize your life and achieve your goals by tracking daily habits.</p>
    </div>
    <img src="{{ url_for('static', filename='images/checklist.png') }}" 
         alt="habit checklist image"
         class="value-prop-img">
  </div>

  <div class="value-prop-container full-width-background">
    <div class="value-prop-text">
      <h1><strong>Track long-term progress.</strong></h1>
      <p>See how your habits develop and improve.</p>
    </div>
    <img src="{{ url_for('static', filename='images/history_grid.png') }}" 
        alt="habit history image"
        class="value-prop-img">
    <img src="{{ url_for('static', filename='images/habit_strength.png') }}" 
        alt="habit trend image"
        class="value-prop-img">
  </div>

  <div class="value-prop-container">
    <div class="value-prop-text">
      <h1><strong>Motivate yourself.</strong></h1>
      <p>Streaks provide encouragement to surpass earlier benchmarks.</p>
    </div>
    <img src="{{ url_for('static', filename='images/streaks.png') }}" 
         alt="habit streak image"
         class="value-prop-img">

    <div class="get-started-btn">
      <a href="{{ url_for('users.register') }}" class="btn btn-outline-info" role="button">Get Started</a>
    </div>
  </div>
{% endblock content %}