{% from "macros.html" import render_history_grid %}
{% extends "layout.html" %}
{% block content %}
  <div class="content-section">

    <!-- Habit Checklist -->
    <h4 class="mb-4">Checklist</h4>
    <div class="mb-5">
      {% if habits|length > 0 %}
        <div class="table-responsive container-border mb-2">
          <table class="table">
            <thead>
              <th scope="col"></th>  <!-- Placeholder for blank upper left cell -->
              {% for date in checklist.date_labels %}
                <th scope="col" class="date-label">{{ date }}</th>
              {% endfor %}
            </thead>
            <tbody>
              {% for habit in habits %}
                <tr>
                  <th scope="row" class="habit-label">
                    <a href="{{ url_for('habits.habit', slug=habit.slug) }}"
                      class="stretched-link habit-link">
                      {{ habit.name }}
                    </a>
                  </th>
                  {% for i in range(checklist.date_labels|length) %}
                    <td>
                      {% if checklist.completion[habit.id][i] != "INACTIVE" %}
                        <form action="{{ checklist.routes[habit.id][i] }}", method="POST">
                          <label class="checkmark-container">
                            <input type="checkbox"
                                  oninput="submit()"
                                  {{ "checked" if checklist.completion[habit.id][i] == "COMPLETE" else "" }}>
                            <span class="checkmark"></span>
                          </label>
                        </form>
                        {% endif %}
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
      
      <form method="POST" action="">
        {{ new_habit_form.hidden_tag() }}
        {% if new_habit_form.name.errors %}
          {{ new_habit_form.name(class="form-control is-invalid", placeholder="Add New Habit") }}
          <div class="invalid-feedback">
            {% for error in new_habit_form.name.errors %}
              <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ new_habit_form.name(class="form-control", placeholder="Add New Habit") }}
        {% endif %}
      </form>
    </div>

    <!-- Habit 1-yr history grid -->
    {{ render_history_grid(history_grid) }}

  </div>
{% endblock content %}