{% extends "layout.html" %}
{% block content %}
<div class="content-section"></div>
<h4 class="mb-4">Habit Checklist</h4>

<!-- Checkbox table and form -->
<div class="table-responsive">
  <table class="table">
    <thead>
      <th scope="col"></th>  <!-- Placeholder for blank upper left cell -->
      {% for date in checklist_date_labels %}
        <th scope="col" class="date-label">{{ date }}</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for habit in habits %}
        <tr>
          <th scope="row" class="habit-label">
            <a href="{{ url_for('habits.habit', slug=habit.slug) }}"
              class="stretched-link habit-link">
              {{ habit.name }}
            </a>
          </th>
          {% for i in range(checklist_date_labels|length) %}
            <td>
              <form action="{{ checklist_routes[habit.id][i] }}", method="POST">
                <label class="checkmark-container">
                  <input type="checkbox"
                        oninput="submit()"
                        {{ 'checked' if checklist_default_values[habit.id][i] else '' }}>
                  <span class="checkmark"></span>
                </label>
              </form>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div>
  <a class="btn btn-outline-secondary" data-toggle="modal" data-target="#add_habit_modal">
    Add New Habit
  </a>
</div>

<!-- Habit 1-yr history grid -->
<div class="graph">
  <ul class="months">
    {% for month in grid_month_labels %}
      <li>{{ month }}</li>
    {% endfor %}
  </ul>
  <ul class="days">
    <li>Sun</li>
    <li>Mon</li>
    <li>Tue</li>
    <li>Wed</li>
    <li>Thu</li>
    <li>Fri</li>
    <li>Sat</li>
  </ul>
  <ul class="squares">
    {% for date in grid_date_labels %}
      <li data-level="5">
        <span class="date-tooltip">{{ date }}</span>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- Modal for adding new habit-->
<div class="modal" id="add_habit_modal" tabindex="-1" role="dialog" aria-labelledby="add_habit_modal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="add_habit_modal">New Habit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="{{ url_for('habits.new_habit') }}">
        {{ new_habit_form.hidden_tag() }}
        <div class="modal-body">
          <div class="form-group">
            {{ new_habit_form.name.label }}
            {% if new_habit_form.name.errors %}
            {{ new_habit_form.name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in new_habit_form.name.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ new_habit_form.name(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ new_habit_form.points.label }}
            {% if new_habit_form.points.errors %}
            {{ new_habit_form.points(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in new_habit_form.points.errors %}
              <span>{{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ new_habit_form.points(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </div>
        <div class="modal-footer">
          <div class="form-group">
            {{ new_habit_form.submit(class="btn btn-outline-secondary") }}
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

</div>
{% endblock content %}